.pokeInfo {
  width: 80%;
  display: flex;
  background-color: rgb(240, 64, 40);
  padding: 1em;
  margin: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0em 0.1em 0.1em 0.1em black;
  border-radius: 2em;
}

.pokeImg {
  width: 60%;
  height: auto;
}

.middleInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 25%;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.rightInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.statBar {
  background-color: white;
  border-radius: 1em;
  border: solid black;
  margin: 0.3em;
}

.statBar div {
  background-color: lightgreen;
  height: 1.5em;
  border-radius: 0.8em;
}

.pokeStat {
  margin: 0.1em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Monaco", monospace;
}
