.pokemonClass {
  display: flex;
  flex: 1 1 20%;
  padding: 1em;
  margin: 1em;
  align-items: center;
  flex-direction: column;
  box-shadow: 0em 0.1em 0.1em 0.1em black;
  border-radius: 2em;
  margin-bottom: 3em;
  color: rgb(223, 223, 223);
  font-weight: bold;
}

.pokeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pokemonClass:hover {
  background-color: rgb(131, 206, 96);
}

.pokemonName {
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  font-family: "Monaco", monospace;
}

.pokemonNumber {
  font-size: 2em;
  font-family: "Monaco", monospace;
  margin-right: 0.4em;
}

.pokemonImg {
  width: 85%;
  height: auto;
  margin-top: -5em;
  margin-bottom: 1em;
}
