.pokeTypes {
  display: flex;
  align-items: center;
}

.pokeType {
  padding: 0.3em;
  border-radius: 0.5em;
  margin: 0.2em;
  font-size: 1.2em;
  font-family: "Monaco", monospace;
  text-transform: uppercase;
  border: solid black 1px;
  box-shadow: inset 0 0 2px black;
}
